
img.bg{
  position: absolute;
  repeat: no-repeat;
  z-index: -1;
  width:1000px;
}

div.introContainer{
position: relative;
opacity: 0.5;
background-color: #ffffff;
z-index: 1;
}

img {
position: relative;
height: 70%;
width: 70%;
}

img.full{
height: 50%;
width: 50%;
}

h2.introBullet{
  font-size: 16px;
  font-family:sans-serif;
  color: #1B487A;
}
h1.title{
font-size: 20px;
color: #3A5F89;

}
li.instructions2{
  color:#0657B3;
}

body {
    padding:20px;
    margin:20px;
}

nav:visited{
  color: red;
}
a:visited{
  color: #CED2D5;
}
a:active{
  color:#39b54a;
}

/* text for index page on top of div container*/
p.introText{
  padding-left: 10px;
  width:100%;
  z-index: 99999;

}

/* button colour on intro screen */
a.btn{
background-color: #2C4561;

}


.checkout-wrap {
    font-family:'PT Sans Caption', sans-serif;
    margin: 30px auto 100px;
    z-index: 0;
    width: 100%;
}
ul.checkout-bar li {
    color: #5D4B6F;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 50px auto;
    padding: 0;
    text-align: center;
    width: 20%%;
}
/* numbers on the check out bar */
ul.checkout-bar li:before {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: #ddd;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    height: 34px;
    left: 40%;
    line-height: 34px;
    position: absolute;
    top: -60px;
    width: 34px;
    z-index: 99999;
}
ul.checkout-bar li.active {
    color: #5FB06D;
    font-weight: bold;
}
ul.checkout-bar li.active:before {
    background: #5FB06D;
}
ul.checkout-bar li.visited {
    color: #8B7D99;
    /* z-index is the stack index - what order something will appear, if it has a higher z-index value it appears on top, negative is behind*/
    z-index: 99999;
    background: none;
}
ul.checkout-bar li.visited:before {
    background: #8B7D99;
    z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
    content:"1";
}
ul.checkout-bar li:nth-child(2):before {
    content:"2";
}
ul.checkout-bar li:nth-child(3):before {
    content:"3";
}
ul.checkout-bar li:nth-child(4):before {
    content:"4";
}
ul.checkout-bar li:nth-child(5):before {
    content:"5";
}
ul.checkout-bar li:nth-child(6):before {
    content:"6";
}
ul.checkout-bar li:nth-child(7):before {
    content:"7";
}
ul.checkout-bar li:nth-child(8):before {
    content:"8";
}
ul.checkout-bar li:nth-child(9):before {
    content:"9";
}
ul.checkout-bar li:nth-child(10):before {
    content:"10";
}

ul.checkout-bar a {
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
}
/*active item font under checkout bar*/
ul.checkout-bar li.active a {
    color: #5FB06D;

}
/*visited item font under checkout bar*/
ul.checkout-bar li.visited a {
    color: #8B7D99;
}
/* this is the coloured bar after the numbered bubble in the check out bar linking to next step*/
.checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #CAE4CF;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content:"";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
}
/* the checkout bar before its visited*/
ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 -15px 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
/* checkout bar linking current to past */
ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #8B7D99;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content:" ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 14%;
}
ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #8B7D99;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content:"";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
}
